[submodule "Ria"]
	path = Ria
	url = https://github.com/asakura89/Ria
[submodule "Emi"]
	path = Emi
	url = https://github.com/asakura89/Emi
[submodule "Reflx"]
	path = Reflx
	url = https://github.com/asakura89/Reflx
[submodule "Meutia"]
	path = Meutia
	url = https://github.com/asakura89/Meutia
[submodule "Eksmaru"]
	path = Eksmaru
	url = https://github.com/asakura89/Eksmaru
[submodule "Exy"]
	path = Exy
	url = https://github.com/asakura89/Exy
[submodule "Nvy"]
	path = Nvy
	url = https://github.com/asakura89/Nvy
[submodule "Itsu"]
	path = Itsu
	url = https://github.com/asakura89/Itsu
[submodule "Haru"]
	path = Haru
	url = https://github.com/asakura89/Haru
[submodule "Eqx"]
	path = Eqx
	url = https://github.com/asakura89/Eqx
[submodule "Shiro"]
	path = Shiro
	url = https://github.com/asakura89/Shiro
[submodule "Pocho"]
	path = Pocho
	url = https://github.com/asakura89/Pocho
[submodule "Dfy"]
	path = Dfy
	url = https://github.com/asakura89/Dfy
[submodule "Backstreet"]
	path = Backstreet
	url = https://github.com/asakura89/Backstreet
[submodule "Puru"]
	path = Puru
	url = https://github.com/asakura89/Puru
[submodule "Varya"]
	path = Varya
	url = https://github.com/asakura89/Varya
[submodule "Nino"]
	path = Nino
	url = https://github.com/asakura89/Nino
[submodule "Maaya"]
	path = Maaya
	url = https://github.com/asakura89/Maaya
[submodule "Buruku"]
	path = Buruku
	url = https://github.com/asakura89/Buruku
[submodule "KamenReader"]
	path = KamenReader
	url = https://github.com/asakura89/KamenReader
[submodule "KamenReader.Excel"]
	path = KamenReader.Excel
	url = https://github.com/asakura89/KamenReader.Excel
