<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Arvy" version="1.0.2020.4202" targetFramework="net35" />
  <package id="Eksmaru" version="1.0.2020.124" targetFramework="net35" />
  <package id="Exy" version="1.0.2020.1322" targetFramework="net35" />
  <package id="Reflx" version="1.0.2020.125" targetFramework="net35" />
</packages>